model/

.idea/dataSources.local.xml
.idea/dataSources/f3c314c7-1fdc-4392-8152-61a587817aed.xml
*.pyc
/.eggs/
/venv-org/
/venv/
/.hypothesis/
/build/
/dist/
/test/.hypothesis/
/paver-minilib.zip
/docs/source/api/picdb.rst
/docs/source/api/modules.rst
picdb.egg-info
.cache/v/cache
.coverage
.idea/dataSources/
build_flymake.sh

/.mypy_cache/

/reports/
*.sublime-workspace
/Pipfile.lock
