[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
hypothesis = "*"
pytest = "*"
pytest-cover = "*"
flake8 = "*"
pylint = "*"
bumpversion = "*"
Sphinx = "*"
Paver = "*"
pyinstaller = "*"

[packages]
py-postgresql = ">=1.1.0"
psutil = "*"
Pillow = "*"
PyYAML = "*"

[requires]
python_version = "3.9"
